body{
    margin: 0;
}
*{
    text-align:center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
input {
	 padding: 10px;
     width: 80%;
     border: 2px solid steelblue;
     margin: auto;
     margin-bottom: 25px;
     display: block;
     border: 1px solid grey;
     border-radius: 2px;
}
input:focus, textarea:focus, select:focus{
    outline: none;
}
iframe{
    padding: 0%;
    margin: 0%;
}
form{
    background-color:white;
    padding:20px; 
    box-shadow: 0 0 20px 0px #9e9e9ec7;
    text-align:center;
    border-radius: 10px;
}
.form_bg{
    background: linear-gradient(45deg, #cc0000, #e60000);
    padding: 40px;
    width: 40%;
    margin: auto;
}
input[name='submit']{

    background-color: #446600;
    color: white;
    border: 0px;
    border-radius: 5px;
    width: 100px;
    padding: 5px;
}
.inp1{
    width: auto;
    display: inline-block;
}
.edit{
    display: inline-block;
}
.search{
    width: 50%;
}
.customer_details{
    text-align: left !important;
    padding: 20px;
    width: 70%;
    font-weight:bolder;
    background: linear-gradient(45deg, #8BC34A, #00BCD4);
    color: white;
    border-radius: 10px;
    box-shadow: 12px 8px 20px -5px #9e9e9e82;
    display: inline-block;
}
.customer_details>div{
    text-align: left;
    padding:10px;
}
.delete{
    display: inline-block;
    float: right !important;
    padding: 10px;
    border: 0;
    box-shadow: 2px 5px 20px 3px #00000063;
}

.nav{
    border:1px solid rgb(1, 171, 184);
    border-width:1px 0;
    background-image: linear-gradient(45deg, #8BC34A, #00BCD4);
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    position: sticky;
    top: 0;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}